@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}


body {
    font-family: 'gilroy', 'san-serif';
}

a, p {
    font-weight: 500;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 3.9rem;
    font-weight: 800;
}

h2 {
    font-size: 2.85rem;
    font-weight: 800;
}

p {
    color: var(--manatee);
}